spring:
  application:
    name: SpringOAuth2Project

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 914910065978-8v01bum9sqcaqmqvemiln8gg21vuqh72.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
          github:
            client-id: Ov23liUWdl25ZkbDpP3M
            client-secret: a329799944288c283cecbf850b701f5c957071e2
            scope:
              - read:user
              - user:email

        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: id

